<?xml version="1.0"?>
<model>
  <name>thrust_vector</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Chen Hua Ming</name>
   <email>337467729@qq.com</email>
  </author>

  <description>
    This is a model for a multirotor with thrust vector.
  </description>
</model>
